@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700|Playfair+Display:400,400i,700,700i,900,900i|Yanone+Kaffeesatz:200,300,400,700&display=swap');

body {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
blockquote {
  font-family: 'Playfair Display', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}
.remark-code, .remark-inline-code {
  font-family: 'Fira Code', 'Source Code Pro', 'Lucida Console', Monaco, monospace;
}
